@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 18px;
  scroll-behavior: smooth;
  
}

body {
  font-family: 'Public Sans', sans-serif;
  background-color: hsl(0, 0%, 98%); 
  color: hsl(233, 26%, 24%); 
  line-height: 1.6;
  
}

:root {
  /* Primary Colors */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  /* Neutral Colors */
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%)
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  line-height: 1.2;
  color: var(--dark-blue);
}

p{
  font-weight: 300;
  color: var(--grayish-blue);
}

nav a{
  font-weight: 300;
  color: var(--dark-blue);
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

nav a:hover{
  color: var(--lime-green);
}

nav a:active{
  border-bottom: 3px solid var(--lime-green);
  color: var(--dark-blue);
}

.logo img{
  /* height: 30px; */
}

.btn{
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  color: white;
  padding: 0.6rem 1.8rem;
  border: none;
  border-radius: 30px;
  font-size: 0.95rem;
  font-weight: 700;
  cursor: pointer;
  transition: opacity 0.3s ease
}

.btn:hover{
  opacity: 0.8;
}

section{
  padding: 4rem 0;
}

header {
  background-color: #ffffff;
  padding: 15px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
}

nav{
  display: flex;
  gap: 24px;
}
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  position: relative;
  background-color: #f3f4f6;
  margin-bottom: 5rem;
}

.hero-text {
  width: 50%;
  z-index: 2;
}

.hero-text h1{
  font-size: 3rem;
  margin-bottom: 20px;
  line-height: 1.2;
}
.hero-text p{
  font-size: 1rem;
  margin-bottom: 30px;
  max-width: 90%;
}


.bg-shape{
  position: absolute;
  top: -210px;
  right: -360px;
  width: 80vw;
  z-index: 0;
}
.mockups{
  position: absolute;
  right: -100px;
  top: -120px;
  width: 50vw;
  z-index: 1;
}

.features {
  padding: 60px 10%;
  background-color: white;
}

.features h2 {
  margin-bottom: 20px;
  text-align: left;
  font-size: 2rem;
  font-weight: 400;
}

.features p {
  text-align: left;
  margin: 10px 40% 60px auto;
}

.feature-list {
  display: flex;
  justify-content: space-evenly;
  gap: 80px;
  width: 100%;
  /* flex-wrap: wrap; */
}

.feature {
  width: 70%;
  /* flex: 1 1 ; */
  /* max-width: 480px; */
  /* margin: 0 auto; */
  text-align: left;
}

.feature img {
  width: 72px;
  margin-bottom: 10px;
}

.feature h4 {
  margin: 15px 0 10px;
  font-weight: 700;
  font-size: 1.1rem;
}

.feature p {
  font-weight: 300;
  font-size: 0.95rem;
  width: 110%;
}

.articles {
  padding: 60px 10%;
  background: #f3f4f6;
}

.articles h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.article-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.article {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 240px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.article img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.article-content {
  padding: 15px;
}

.article-content p {
  font-size: 16px;
  color: #6b7280;
}

footer {
  background-color: #2d314d;
  color: white;
  padding: 40px 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
  margin: 10px 0;
}

.footer-links a{
  display: block;
  color: white;
  margin: 5px 0;
  text-decoration: none;
  font-size: 16px;

}

.social-icon a{
  margin-left: 10px;
  text-decoration: none;
  color: white;

}